#branding
	.container
		.column.span-6.prepend-6
			#brand
				%h1
					%a{ :href => "/" }
						FreqFinder
		.column.span-6.append-6.last
			#navigation
				%ul
					%li
						%a{:href => stations_path }
							Stations
					%li
						%a{:href => transmitters_path }
							Transmitters
